<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Interloper - <%= @conn.request_path %></title>
    <%# <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" /> %>
    <%# <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" /> %>
    <%# <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" /> %>
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <meta name="og:title" content="Interloper">
    <meta name="og:description" content="Personal site of Raymond Neilson">
    <meta name="og:image" content="<%= Routes.static_url(@conn, "/images/rodeo.png") %>">
  </head>
  <body data-controller="select" data-action="keydown->select#handleKey">
    <%# TODO: add boot script %>
    <%# <script type="text/javascript" src="boot.js"></script> %>
    <div id="container" class="container">
      <div id="main" data-controller="page" data-page-loading-class="loading">
        <div id="banner" class="bannerbox dimmer dimmed"
          style="background: url(<%= Routes.static_path(@conn, "/images/rodeo.png") %>) center center no-repeat">
          <!-- <img src="<%= Routes.static_path(@conn, "/images/rodeo.png") %>" title="YEE HAW" alt="Rocket Rodeo"> -->
        </div>
        <div id="console" class="overlay">
          <div id="status" class="status" data-controller="status" data-target="page.status"
            data-action="newPath->status#updatePath loadPath->status#loadingPath">
            <span id="path" class="orange" data-target="status.path"></span>
            <span id="load" class="yellow" data-target="status.load"></span>
            <span id="clock" class="orange floatright" data-target="status.time"></span>
          </div>
          <div id="output" class="popup" tabindex="0" data-controller="output"
            data-target="page.output" data-output-path="<%= @conn.request_path %>">
            <%= render @view_module, @view_template, assigns %>
          </div>
          <div id="command" class="status">
            <span id="preview" class="yellow"></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
