<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Interloper - <%= @conn.request_path %></title>
    <%= SharedView.render("fonts.html", assigns) %>
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <%= SharedView.render("meta.html", assigns) %>
    <template id="page-load-error">
      <div id="output" class="popup" tabindex="0" data-controller="output"
        data-target="page.output" data-output-error="true">
        <%= SharedView.render("loading_error.html", reason: "", loading: "") %>
      </div>
    </template>
  </head>
  <body class="js-disabled" data-controller="select" data-action="keydown->select#handleKey">
    <%= render("boot.html", assigns) %>
    <div id="container" class="container">
      <div id="main" data-controller="page" data-page-loading-class="loading"
        data-page-navigate-selector="a[href^=&quot;/&quot;]"
        data-page-exclude-selector="a[target], a[href^=&quot;/api/&quot;], a[href^=&quot;/rampant&quot;]"
        data-action="click->page#navigate">
        <div id="banner" class="bannerbox dimmer dimmed"
          style="background: url(<%= Routes.static_path(@conn, "/images/rodeo.png") %>) center center no-repeat">
        </div>
        <div id="console" class="overlay">
          <div id="status" class="status" data-controller="status"
            data-target="page.path" data-action="newPath->status#updatePath loadPath->status#loadingPath">
            <span id="path" class="orange" data-target="status.path"></span>
            <span id="load" class="yellow" data-target="status.load"></span>
            <span id="clock" class="orange floatright" data-target="status.time"></span>
          </div>
          <div id="output" class="popup" tabindex="0" data-controller="output"
            data-target="page.output" data-output-path="<%= @conn.request_path %>">
            <%= @inner_content %>
          </div>
          <div id="command" class="status">
            <span id="preview" class="yellow" data-target="page.status"></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
