<div class="textbox"><br></div>
<div class="textbox">
    <span class="bold underline">Github repositories</span>
</div>
<%= for repo_map <- @repos do %>
    <%= render("repo.html", repo_map) %>
<% end %>
<div class="textbox"><br></div>
<div class="textbox">
    <a class="green selector" href="<%= Routes.page_path(@conn, :index) %>" data-page-id=":index">[Main]</a>
</div>
<div class="textbox"><br></div>
