<div class="textbox"><br></div>
<div class="textbox">
    <span class="bold underline">Github repositories</span>
</div>
<div class="textbox"><br></div>
<%= Enum.map(@repo_list, fn repo_map -> render("repo.html", repo_map) end) %>
<div class="textbox">
    <a class="green selector" href="<%= Routes.page_path(@conn, :index) %>" data-action="page#navigate">
        [Main]
    </a>
</div>
<div class="textbox"><br></div>
