<div class="textbox">
  <p>
    <span class="err">Error loading </span><span class="err" id="error-path"><%= @loading %></span>
  </p>
  <pre class="err" id="error-reason"><%= ensure_string(@reason, pretty: true) %></pre>
  <p>
    <a class="green selector html-only" href="/">[Main]</a>
    <a class="yellow selector js-only" href="javascript:history.back()">[Back]</a>
  </p>
</div>
