<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= @status_code %> - <%= @conn.request_path %></title>
    <%= SharedView.render("fonts.html", assigns) %>
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
  </head>
  <body class="js-disabled">
    <div id="container" class="container">
      <div id="main">
        <div id="banner" class="bannerbox dimmed"
          style="background: url(<%= Routes.static_path(@conn, "/images/rodeo.png") %>) center center no-repeat">
        </div>
        <div id="console" class="overlay">
          <div id="status" class="status">
            <span id="path" class="orange"><%= @conn.request_path %></span>
            <span id="load" class="yellow"></span>
            <span id="clock" class="orange floatright"></span>
          </div>
          <div id="output" class="popup" tabindex="0" data-output-error="<%= @status_text %>">
            <%=
              SharedView.render(
                "loading_error.html", reason: @status_text, loading: @conn.request_path)
            %>
          </div>
          <div id="command" class="status">
            <span id="preview" class="yellow"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
