<div class="textbox"><br></div>
<div class="textbox">
    <%= render("user.html", user: @recent["user"]) %>
</div>
<div class="textbox"><br></div>
<div class="textbox">
    <pre>
        <%= SharedView.ensure_string(@recent["tweets"], pretty: true) %>
    </pre>
</div>
<div class="textbox"><br></div>
<div class="textbox">
    <a class="green selector" href="<%= Routes.page_path(@conn, :index) %>" data-page-id=":index">[Main]</a>
</div>
<div class="textbox"><br></div>
