<div class="textbox" data-tweet-id="<%= @tweet["id_str"] %>">
  <%= if @retweeted do %>
  <div class="tweettext">
    Retweeted: <%# <%= render("user_link.html", %{user: @retweeted}) %>
  </div>
  <% end %>
  <%= render("tweet_inner.html", assigns) %>
  <hr class="tweetspacer"></hr>
</div>